Hopefully this will be the last time I have to do this...

In [8]:
import pandas as pd
import numpy as np

## Import data

In [9]:
all_data_df = pd.read_csv('all_data_df.csv')
all_data_df

/Users/flowerbed/Desktop/School/9th Grade 2020 - 2021/2021 UCSF AI4ALL/GitHub/ai4all_nhanes/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (600,601) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,SEQN,ACD011A,ACD011B,ACD011C,ACD040,ACD110,ALQ101,ALQ110,ALQ120Q,ALQ120U,...,WHD080Q,WHD080R,WHD080S,WHD080T,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150
0,62161.0,1.0,NaN,NaN,NaN,NaN,2.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62163.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,62164.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43.0,NaN,NaN,NaN,NaN,145.0,118.0,NaN,172.0,38.0
3,62165.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,62169.0,NaN,NaN,NaN,NaN,5.0,1.0,NaN,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29897,93635.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29898,93678.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29899,93688.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29900,93692.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29901,93698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
mental_health_df = all_data_df.loc[:, 'DPQ010':'DPQ100']
mental_health_df

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100
0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.000000e+00,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79
...,...,...,...,...,...,...,...,...,...,...
29897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Categorize values
### Make a function

In [59]:
def add(row):
    sum = 0
    for i in range(0, 10):
        sum += float(row[i])
    return sum

def categ(val):
    if val >= 0 and val <= 4:
        return "minimal"
    elif val >= 5 and val <= 9:
        return "mild"
    elif val >= 10 and val <= 14:
        return "moderate"
    elif val >= 15 and val <= 19:
        return "moderately severe"
    else:
        return "severe"

In [60]:
mental_health_df['labels_raw'] = mental_health_df.apply(add, axis=1)

# tells if row was originally full of NaN
cols = mental_health_df.columns
mental_health_df['is_na'] = mental_health_df[cols].isnull().apply(lambda x: all(x), axis=1) 

mental_health_df

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,labels_raw,is_na
0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,NaN,NaN,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
4,1.000000e+00,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,7.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
29897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
29898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
29899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
29900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
29901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [61]:
mental_health_df = mental_health_df.fillna(0)
mental_health_df

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,labels_raw,is_na
0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.000000e+00,0.0,False
1,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True
2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True
3,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True
4,1.000000e+00,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,7.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
29897,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True
29898,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True
29899,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True
29900,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True
29901,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True

In [62]:
mental_health_df['original_labels'] = mental_health_df['labels_raw'].apply(lambda x: categ(x))
mental_health_df

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,labels_raw,is_na,original_labels
0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.000000e+00,0.0,False,minimal
1,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal
2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal
3,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal
4,1.000000e+00,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,7.0,False,mild
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29897,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal
29898,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal
29899,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal
29900,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal
29901,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal

In [63]:
# replace 'minimal' with 'missing'
def rep(row):
    if row['is_na'] == True:
        return 'missing'
    else:
        return row['original_labels']

mental_health_df['labels'] = mental_health_df.apply(rep, axis=1)
mental_health_df

,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,labels_raw,is_na,original_labels,labels
0,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,0.000000e+00,0.0,False,minimal,minimal
1,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing
2,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing
3,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing
4,1.000000e+00,5.397605e-79,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,5.397605e-79,1.000000e+00,5.397605e-79,5.397605e-79,7.0,False,mild,mild
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29897,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing
29898,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing
29899,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing
29900,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing
29901,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,True,minimal,missing

In [64]:
mental_health_df.to_csv('mental_health_df.csv', index=False)

## Reference Links
check NaN in pandas - https://www.kite.com/python/answers/how-to-check-if-a-value-is-nan-in-pandas \
check NaN in numpy - https://appdividend.com/2020/05/04/numpy-nan-example-nan-constants-in-numpy-explanied/ \
check if row is NaN - https://stackoverflow.com/questions/39298372/python-pandas-check-if-all-columns-in-rows-value-is-nan